
/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap');

:root {
    --black: #171321;
    --white: #f7f8fa;
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --font-size: 15px;
    --mono: 'Inter', monospace;
    --sans: sans-serif
  }

html {
    box-sizing: border-box;
}

body {
    background-color: var(--off-white);
    font-family: var(--mono);
    margin: 0;
    padding: 0;
    color: var(--dark-grayish-blue);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2rem 1.5rem;
    margin: 20px 30px;
    padding: 0px 50px 50px 50px;
    
}

.grid_1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid_2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid_3 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.nested-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.mini_grid_1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.mini_grid_2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.mini_grid_3 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.flex-container {
    display: flex;
}

.flex-container article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

/* navbar */

nav {
    display: flex;
    margin: 10px 20px;
    padding: 10px 60px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

/* main news */

.main-news img {
    width: 100%;
}

.main-news h1{
    font-size: 40px;
    color: black;
    font-weight: 900;
}

.main-news button {
    border: 1px solid var(--soft-red);
    background-color: var(--soft-red);
    color: var(--white);
    padding: 10px 30px;
    letter-spacing: 2px;
    font-weight: 600;
}


/* new section */

.new {
    background-color: var(--black);
    color: var(--off-white);
    padding: 10px 20px 0px 20px;
}

.new h2 {
    margin-top: 5px;
    font-size: 32px;
    color: var(--soft-orange);
}

.new article {
    color: var(--grayish-blue);
    border-bottom: 1px solid var(--grayish-blue);
    padding-bottom: 5px;
}

.new article h4 {
    color: var(--off-white);
}

.new article:last-child {
    border-bottom: none;
}

/* trend news */

.trend-news img {
    width: 40%;
    padding: 15px;

}

.trend-news div {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.trend-news div h4{
    color: var(--very-dark-blue);
    font-weight: 900;
}

.trend-news div span {
    font-size: 30px;
    font-weight: 900;
    color: var(--grayish-blue);
}
